@font-face {
  font-family: "Kaushan Script";
  src: url("../fonts/Kaushan_Script/KaushanScript-Regular.ttf");
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Regular.ttf"),
    url("../fonts/Roboto/Roboto-Medium.ttf"),
    url("../fonts/Roboto/Roboto-Bold.ttf");
  font-weight: 400, 700, 900;
}

@mixin getFont($element) {
  font-family: $element;
}
